ROOT_URL={{ wekan_root }}
PORT=6789
MONGO_URL={{ wekan_database }}
WRITABLE_PATH={{ wekan_root_path }}/{{ wekan_name }}/data

{% if wekan_smtp is defined %}
{% if wekan_smtp.username is defined %}
MAIL_URL={{ 'smtp' if wekan_smtp.mode is defined and wekan_smtp.mode == 'starttls' else 'smtps' }}://{{ wekan_smtp.username | urlencode }}:{{ wekan_smtp.password | string | urlencode }}@{{ wekan_smtp.host }}/
{% else %}
MAIL_URL=smtps://{{ wekan_smtp.host }}/
{% endif %}
MAIL_FROM={{ wekan_smtp.from }}
{% endif %}

WITH_API=true
