[Unit]
Description=Mattermost Service %i
After=network.target

[Service]
Type=notify
User=mattermost
Group=mattermost
WorkingDirectory={{ mattermost_root_path }}/%i/app
ExecStart={{ mattermost_root_path }}/%i/app/bin/mattermost
TimeoutStartSec=3600
KillMode=mixed
Restart=always
RestartSec=10

LimitNOFILE=49152

[Install]
WantedBy=multi-user.target
