[Unit]
Description=File hosting service with encryption
Documentation=https://framagit.org/luc/lufi
Requires=network.target
After=network.target

[Service]
Type=forking
User=lufi
Group=lufi
RemainAfterExit=yes
RuntimeDirectory=lufi
RuntimeDirectoryPreserve=yes
WorkingDirectory={{ lufi_root_path }}/%i/app
PIDFile=/run/lufi/%i.pid
ExecStart=/usr/bin/carton exec hypnotoad script/lufi
ExecStop=/usr/bin/carton exec hypnotoad -s script/lufi
ExecReload=/usr/bin/carton exec hypnotoad script/lufi

[Install]
WantedBy=multi-user.target
