{
    hypnotoad => {
        listen   => ['http://127.0.0.1:{{ lufi_port }}'],
        pid_file => '/run/lufi/{{ lufi_name }}.pid',
        proxy    => 1,

        workers => 16,
        clients => 1
    },

    instance_name => {{ lufi_title | to_json(ensure_ascii=False) }},
    contact       => '<a href="mailto:{{ lufi_contact }}">Mail de contact</a>',
    report        => '{{ lufi_contact }}',

    secrets => ['{{ lufi_salt }}'],

    length               => 16,
    max_file_size        => 500*1024*1024,
    default_delay        => 7,
    max_delay            => 60,
    allow_pwd_on_files   => 1,
    disable_mail_sending => 0,

    upload_dir => '{{ lufi_root_path }}/{{ lufi_name }}/files',

{% if lufi_database.type == 'postgresql' %}
    dbtype => 'postgresql',
    pgdb => {
        host     => '{{ lufi_database.host }}',
        user     => '{{ lufi_database.user }}',
        pwd      => '{{ lufi_database.password }}',
        database => '{{ lufi_database.name }}'
    }
{% elif lufi_database.type == 'mysql' %}
    dbtype => 'mysql',
    mysqldb => {
        host     => '{{ lufi_database.host }}',
        user     => '{{ lufi_database.user }}',
        pwd      => '{{ lufi_database.password }}',
        database => '{{ lufi_database.name }}'
    }
{% elif lufi_database.type == 'sqlite' %}
    dbtype => 'sqlite',
    db_path => '{{ lufi_database.path }}'
{% endif %}
}
