PHOTOVIEW_LISTEN_IP=127.0.0.1

PHOTOVIEW_DATABASE_DRIVER=postgres
PHOTOVIEW_POSTGRES_URL=postgres://{{ photoview_database.user }}:{{ photoview_database.password | string | urlencode }}@{{ photoview_database.host }}/{{ photoview_database.name }}?sslmode=prefer
