DATABASE_URL={{ vaultwarden_database.provider }}://{{ vaultwarden_database.user }}:{{ vaultwarden_database.password }}@{{ vaultwarden_database.host }}/{{ vaultwarden_database.name }}

DOMAIN=https://{{ vaultwarden_domain }}
ADMIN_TOKEN={{ vaultwarden_admin_token }}

SMTP_HOST={{ vaultwarden_smtp.host | split(':') | first }}
SMTP_FROM={{ vaultwarden_smtp.from }}
SMTP_PORT={{ vaultwarden_smtp.host | split(':') | last }}
SMTP_SECURITY={{ vaultwarden_smtp.mode }}
{% if vaultwarden_smtp.username is defined %}
SMTP_USERNAME={{ vaultwarden_smtp.username }}
SMTP_PASSWORD={{ vaultwarden_smtp.password }}
{% endif %}
