# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with this program. If not, see https://www.gnu.org/licenses/.

[Unit]
Description=Perform rekkord backups
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
Environment=HOME=/root
{% for dir in rekkord_directories %}
ExecStart=/usr/bin/rekkord save -C "{{ rekkord_root_path }}/config.ini" -n "{{ dir.name }}" "{{ dir.src }}"
{% endfor %}
