CACHE={{ napka_root_path }}/cache/{{ napka_name }}.cache
DATABASE={{ napka_root_path }}/databases/{{ napka_name }}.db

PORT=9977

{% for key, value in napka_secrets.items() %}
{{key}}={{value}}
{% endfor %}
