# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with this program. If not, see https://www.gnu.org/licenses/.

[Unit]
Description=Perform Napka imports
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
User=napka
Group=napka
EnvironmentFile={{ napka_root_path }}/secrets/%i.env
WorkingDirectory={{ napka_root_path }}/builds/%i/src/napka
# ExecStart={{ napka_root_path }}/builds/%i/src/napka/run.sh src/importers/3114.js
ExecStart={{ napka_root_path }}/builds/%i/src/napka/run.sh src/importers/cn2r.js
ExecStart={{ napka_root_path }}/builds/%i/src/napka/run.sh src/importers/demheter.js
ExecStart={{ napka_root_path }}/builds/%i/src/napka/run.sh src/importers/catatonia.js
ExecStart={{ napka_root_path }}/builds/%i/src/napka/run.sh src/importers/echos.js
ExecStart={{ napka_root_path }}/builds/%i/src/napka/run.sh src/importers/provenance.js
