# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with this program. If not, see https://www.gnu.org/licenses/.

{% import 'nginx_util.conf.j2' as util %}

user www-data www-data;

worker_processes auto;
pid /run/nginx.pid;

events {
    worker_connections 8192;
}

http {
    sendfile on;
    tcp_nopush on;
    tcp_nodelay on;
    keepalive_timeout 60;

    server_tokens off;

    access_log /var/log/nginx/access.log;
    error_log /var/log/nginx/error.log;

    include /etc/nginx/mime.types;
    default_type application/octet-stream;

    types {
        application/javascript js mjs;
        application/wasm wasm;
    }

    # limit_req_zone $binary_remote_addr zone=default:10m rate=100r/s;
    # limit_req_status 429;
    # limit_req zone=default burst=100 nodelay;

    map $http_upgrade $connection_upgrade {  
        default upgrade;
        ''      close;
    }

{% if nginx_default_server %}

    server {
        {{ util.configure_http('_', nginx_http_port) }}

        location / {
            return 404;
        }

        location /stub_status {
            allow 127.0.0.1;
            allow ::1;
            deny all;

            stub_status on;
        }
    }

    server {
        {{ util.configure_https('_', nginx_https_port) }}

        ssl_certificate /opt/nginx/ssl/internal/{{ inventory_hostname }}.crt;
        ssl_certificate_key /opt/nginx/ssl/internal/{{ inventory_hostname }}.key;

        ssl_client_certificate /opt/nginx/ssl/internal/ca.crt;
        ssl_verify_client on;
        ssl_verify_depth 2;

        location / {
            return 404;
        }
    }

{% endif %}

{% for domain in nginx_domains %}

    server {
        {{ util.configure_http(domain.name, domain.http_port if domain.http_port is defined else nginx_http_port) }}

        location / {
            return 301 https://$host$request_uri;
        }

        location /.well-known/acme-challenge {
            root /opt/nginx/ssl/webroot/{{ domain.name }};
        }
    }

    server {
        {{ util.configure_https(domain.name, domain.https_port if domain.https_port is defined else nginx_https_port) }}

{% if domain.ssl_file_crt is not defined or force_self_ssl %}
        ssl_certificate /opt/nginx/ssl/letsencrypt/{{ domain.name }}.crt;
        ssl_certificate_key /opt/nginx/ssl/letsencrypt/{{ domain.name }}.key;
{% else %}
        ssl_certificate {{ domain.ssl_file_crt }};
        ssl_certificate_key {{ domain.ssl_file_key }};
{% endif %}

        add_header Strict-Transport-Security "max-age=63072000; includeSubDomains" always;

        {{ domain.config | indent(width=8) }}
    }

{% endfor %}
}
