[req]
default_bits = 2048
prompt = no
default_md = sha256
req_extensions = req_ext
distinguished_name = dn

[dn]
C = FR
L = Paris
O = InterHop
OU = InterHop CA
CN = {{ ansible_host }}

[req_ext]
keyUsage = digitalSignature, keyEncipherment, dataEncipherment
extendedKeyUsage = serverAuth, clientAuth
subjectAltName = @names

[names]
IP.1 = 127.0.0.1
IP.2 = ::1
IP.3 = {{ ansible_host }}
