# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with this program. If not, see https://www.gnu.org/licenses/.

[Goupile]
BinaryFile = {{ goupile_root_path }}/goupile
DomainDirectory = {{ goupile_root_path }}/domains
ArchiveDirectory = {{ goupile_archive_path }}
SnapshotDirectory = {{ goupile_snapshot_path }}

RunUser = {{ goupile_run_user }}
RunGroup = {{ goupile_run_group }}

DefaultAdmin = {{ goupile_default_username }}
DefaultPassword = {{ goupile_default_password }}

{% if goupile_archive_hour is defined -%}

[Archives]
AutoHour = {{ goupile_archive_hour }}
AutoZone = {{ goupile_archive_zone }}
RetentionDays = {{ goupile_archive_retention }}

{%- endif %}

{% if goupile_smtp is defined -%}

[SMTP]
URL = {{ goupile_smtp.url }}
{% if goupile_smtp.username is defined %}
Username = {{ goupile_smtp.username }}
Password = {{ goupile_smtp.password }}
{% endif %}
From = {{ goupile_smtp.from }}

{%- endif %}

{% if goupile_sms is defined -%}

[SMS]
Provider = {{ goupile_sms.provider }}
AuthID = {{ goupile_sms.auth_id }}
AuthToken = {{ goupile_sms.auth_token }}
From = {{ goupile_sms.from }}

{% endif %}
