# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with this program. If not, see https://www.gnu.org/licenses/.

[Unit]
Description=Perform Nextcloud periodic tasks

[Service]
Type=oneshot
User=www-data
Group=www-data
WorkingDirectory={{ nextcloud_root_path }}/%i/live
ExecCondition=/usr/bin/php8.2 --define apc.enable_cli=1 occ status -e
ExecStart=/usr/bin/php8.2 --define apc.enable_cli=1 cron.php
KillMode=process
