version: '3'

services:
  onlyoffice_{{ nextcloud_name }}:
    container_name: 'onlyoffice_{{ nextcloud_name }}'
    image: '{{ onlyoffice_image }}'

    networks:
      - {{ nextcloud_name }}

    environment:
      - JWT_ENABLED=true
      - JWT_SECRET={{ onlyoffice_jwt_secret }} 

    ports:
      - '{{ onlyoffice_port }}:80'

    volumes:
      - '{{ nextcloud_root_path }}/{{ nextcloud_name }}/office/logs:/var/log/onlyoffice'
      - '{{ nextcloud_root_path }}/{{ nextcloud_name }}/office/data:/var/www/onlyoffice/Data'
      - '{{ nextcloud_root_path }}/{{ nextcloud_name }}/office/lib:/var/lib/onlyoffice'
      - '{{ nextcloud_root_path }}/{{ nextcloud_name }}/office/db:/var/lib/postgresql'

networks:
  {{ nextcloud_name }}:
