#!/bin/sh -e

# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with this program. If not, see https://www.gnu.org/licenses/.

cd "{{ mariadb_backup_path }}"

mysqldump --all-databases --single-transaction --quick --lock-tables=false | gzip > "backups/$(date +%Y%m%d_%H%M%S).sql.gz"
ls -1 backups/* | sort -r | tail -n +2 | xargs rm -f
