# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with this program. If not, see https://www.gnu.org/licenses/.

[Unit]
Description=THOP %i
Documentation=https://koromix.dev/misc
Wants=network-online.target
After=network-online.target

[Service]
Type=notify
User={{ thop_run_user }}
Group={{ thop_run_group }}
RuntimeDirectory=thop
RuntimeDirectoryPreserve=yes
WorkingDirectory={{ thop_root_path }}/%i
ExecStart={{ thop_root_path }}/thop {{ '--sandbox' if thop_sandbox else '' }}
Restart=on-failure
RestartSec=20
TimeoutStopSec=30

{% if thop_sandbox %}
# Allow THOP to manipulate namespaces despite
# kernel.unprivileged_userns_clone=0.
SecureBits=keep-caps
CapabilityBoundingSet=CAP_SYS_ADMIN
AmbientCapabilities=CAP_SYS_ADMIN
{% endif %}

[Install]
WantedBy=multi-user.target
