templates:
  - "templates/redis.template.yml"
  - "templates/web.template.yml"
  - "templates/web.ratelimited.template.yml"
  - "templates/web.socketed.template.yml"

params:
  db_default_text_search_config: "pg_catalog.english"

  ## Set db_shared_buffers to a max of 25% of the total memory.
  ## will be set automatically by bootstrap based on detected RAM, or you can override
  db_shared_buffers: {{ ((ansible_memory_mb.real.total / 4) | round) ~ 'MB' }}

  ## can improve sorting performance, but adds memory usage per-connection
  # db_work_mem: "40MB"

  ## Which Git revision should this container use? (default: tests-passed)
  # version: tests-passed

env:
  LC_ALL: {{ discourse_locale }}
  LANG: {{ discourse_locale }}
  LANGUAGE: {{ discourse_locale }}
  # DISCOURSE_DEFAULT_LOCALE: en

  ## Configure PostgreSQL connection
  DISCOURSE_DB_HOST: '{{ discourse_database.host }}'
  DISCOURSE_DB_USERNAME: '{{ discourse_database.user }}'
  DISCOURSE_DB_PASSWORD: '{{ discourse_database.password }}'
  DISCOURSE_DB_NAME: '{{ discourse_database.name }}'

  ## How many concurrent web requests are supported? Depends on memory and CPU cores.
  ## will be set automatically by bootstrap based on detected CPUs, or you can override
  UNICORN_WORKERS: {{ [2, ansible_processor_count] | max }}

  ## TODO: The domain name this Discourse instance will respond to
  ## Required. Discourse will not work with a bare IP number.
  DISCOURSE_HOSTNAME: '{{ discourse_domain }}'

  ## Uncomment if you want the container to be started with the same
  ## hostname (-h option) as specified above (default "$hostname-$config")
  # DOCKER_USE_HOSTNAME: true

  ## TODO: List of comma delimited emails that will be made admin and developer
  ## on initial signup example 'user1@example.com,user2@example.com'
  DISCOURSE_DEVELOPER_EMAILS: '{{ discourse_admin }}'

  ## TODO: The SMTP mail server used to validate new accounts and send notifications
  # SMTP ADDRESS, username, and password are required
  # WARNING the char '#' in SMTP password can cause problems!
  DISCOURSE_SMTP_ADDRESS: {{ discourse_smtp.host | split(':') | first }}
  DISCOURSE_SMTP_PORT: {{ discourse_smtp.host | split(':') | last }}
  DISCOURSE_NOTIFICATION_EMAIL: {{ discourse_smtp.from }}
{% if discourse_smtp.username is defined %}
  DISCOURSE_SMTP_USER_NAME: {{ discourse_smtp.username }}
  DISCOURSE_SMTP_PASSWORD: {{ discourse_smtp.password }}
{% endif %}
  DISCOURSE_SMTP_ENABLE_START_TLS: {{ 'true' if discourse_smtp.mode is defined and discourse_smtp.mode == 'starttls' else 'false' }}
  # DISCOURSE_SMTP_DOMAIN: discourse.example.com    # (required by some providers)

## The Docker container is stateless; all data is stored in /shared
volumes:
  - volume:
      host: {{ discourse_root_path }}/{{ discourse_name }}/shared
      guest: /shared
  - volume:
      host: {{ discourse_root_path }}/{{ discourse_name }}/shared/log/var-log
      guest: /var/log

## Plugins go here
## see https://meta.discourse.org/t/19157 for details
hooks:
  after_code:
    - exec:
        cd: $home/plugins
        cmd:
          - git clone https://github.com/discourse/docker_manager.git
{% for plugin in discourse_plugins %}
          - git clone {{ plugin }}
{% endfor %}

## Any custom commands to run after building
run:
  - exec: echo "Beginning of custom commands"
  ## If you want to set the 'From' email address for your first registration, uncomment and change:
  ## After getting the first signup email, re-comment the line. It only needs to run once.
  #- exec: rails r "SiteSetting.notification_email='info@unconfigured.discourse.org'"
  - exec: echo "End of custom commands"
