version: '3'

services:
  wg-easy:
    container_name: 'wg-easy.{{ wg_name }}'
    image: '{{ wg_image }}'

    env_file: ENV

    volumes:
      - '{{ wg_root_path }}/{{ wg_name }}/etc:/etc/wireguard'
    ports:
      - '{{ wg_port }}:51820/udp'
      - '{{ wg_port + 1 }}:51821/tcp'

    cap_add:
      - NET_ADMIN
      - SYS_MODULE
    sysctls:
      - net.ipv4.ip_forward=1
      - net.ipv4.conf.all.src_valid_mark=1
    restart: unless-stopped
