# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with this program. If not, see https://www.gnu.org/licenses/.

[Unit]
Description=Forgejo (Beyond coding. We forge.)
After=syslog.target
After=network.target

[Service]
Type=simple
User=forgejo
Group=forgejo
WorkingDirectory={{ forgejo_root_path }}
ExecStart={{ forgejo_root_path }}/forgejo web --config {{ forgejo_root_path }}/etc/app.ini
Environment=USER=forgejo HOME=/home/forgejo FORGEJO_WORK_DIR={{ forgejo_root_path }}
Restart=always
RestartSec=2s

[Install]
WantedBy=multi-user.target
