auto {{ ovh_ipv6_iface }}
iface {{ ovh_ipv6_iface }} inet6 static
mtu 1500
address {{ ovh_ipv6_addr }}
netmask {{ ovh_ipv6_netmask }}
post-up /sbin/ip -6 route add {{ ovh_ipv6_gateway }} dev {{ ovh_ipv6_iface }}
post-up /sbin/ip -6 route add default via {{ ovh_ipv6_gateway }} dev {{ ovh_ipv6_iface }}
pre-down /sbin/ip -6 route del default via {{ ovh_ipv6_gateway }} dev {{ ovh_ipv6_iface }}
pre-down /sbin/ip -6 route del {{ ovh_ipv6_gateway }} dev {{ ovh_ipv6_iface }}
