# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with this program. If not, see https://www.gnu.org/licenses/.

global:
  scrape_interval: 30s
  evaluation_interval: 1m

scrape_configs:
{% for pkg, config in prometheus_packages.items() %}
  - job_name: {{ pkg }}
    scheme: https
    metrics_path: metrics/{{ pkg }}
    tls_config:
      ca_file: /opt/nginx/ssl/internal/ca.crt
      cert_file: /opt/nginx/ssl/internal/{{ inventory_hostname }}.crt
      key_file: /opt/nginx/ssl/internal/{{ inventory_hostname }}.key
    scrape_interval: {{ config.scrape_interval | default('') }}
    scrape_timeout: {{ config.scrape_timeout | default('') }}
    static_configs:
{% for host, vars in hostvars.items() %}
{% if vars.prometheus_exporters is defined and pkg in vars.prometheus_exporters %}
      - targets:
          - {{ vars.ansible_host }}:443
        labels:
          instance: {{ host }}
{% endif %}
{% endfor %}
{% endfor %}

{% for host, vars in hostvars.items() %}
{% if vars.blackbox_sites is defined %}
  - job_name: 'blackbox{{ loop.index0 }}'
    scheme: https
    metrics_path: metrics/probe
    tls_config:
      ca_file: /opt/nginx/ssl/internal/ca.crt
      cert_file: /opt/nginx/ssl/internal/{{ inventory_hostname }}.crt
      key_file: /opt/nginx/ssl/internal/{{ inventory_hostname }}.key
    scrape_interval: {{ blackbox_scrape_interval | default('') }}
    scrape_timeout: {{ blackbox_scrape_timeout | default('') }}
    params:
      module: [http_2xx]
    relabel_configs:
      - source_labels: [__address__]
        target_label: __param_target
      - source_labels: [__param_target]
        target_label: instance
      - target_label: __address__
        replacement: '{{ vars.ansible_host }}:443'
    static_configs:
      - targets: {{ vars.blackbox_sites }}
{% endif %}
{% endfor %}
